@page
@using System.Linq
@using Tidea.Core.Entities
@model CreateModel

@{
    ViewData["Title"] = "Create";
}
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @* Nazwa zbiórki *@
    <div class="form-group">
        <label asp-for="CreateCampaignViewModel.Campaign.CampaignName" class="control-label h4"></label>
        <textarea asp-for="CreateCampaignViewModel.Campaign.CampaignName" class="form-control" style="resize:none" rows="1"></textarea>
        <span asp-validation-for="CreateCampaignViewModel.Campaign.CampaignName" class="text-danger"></span>
    </div>
    @* Zdjecie zbiórki *@
    <div class="form-group">
        <label class="h4">Zdjęcie zbiorki</label>
        <input asp-for="CreateCampaignViewModel.Media.ImageFile" accept="image/*" type="file" id="imgInp" class="form-control-file"/>
        <span asp-validation-for="CreateCampaignViewModel.Media.ImageFile" class="text-danger"></span>
        <br/>
        <img id="imgPreview" src="#" alt="Podgląd zdjęcia" height="200" width="200"/>
    </div>
    @* Kategoria zbiórki *@
    <div class="form-group">
        <label class="control-label h4">Kategorie</label>
        <select class="form-control" asp-for="CreateCampaignViewModel.Category.CategoryName" asp-items="Html.GetEnumSelectList<CategoryName>()"></select>
        <span asp-validation-for="CreateCampaignViewModel.Category.CategoryName" class="text-danger"></span>
    </div>
    @* Opis zbiórki *@
    <div class="form-group">
        <label asp-for="CreateCampaignViewModel.Campaign.Description" class="control-label h4"></label>
        <textarea asp-for="CreateCampaignViewModel.Campaign.Description" class="form-control" id="summernoteDescription"></textarea>
        <span asp-validation-for="CreateCampaignViewModel.Campaign.Description" class="text-danger"></span>
    </div>
    @* Potrzebna kwota do realizacji zbiórki *@
    <div class="form-group">
        <label asp-for="CreateCampaignViewModel.Campaign.AmountNeeded" class="control-label h4"></label>
        <div class="input-group mb-2">
            <input asp-for="CreateCampaignViewModel.Campaign.AmountNeeded" class="form-control" value="222"/>
            <div class="input-group-prepend">
                <div class="input-group-text">zł</div>
            </div>
            <span asp-validation-for="CreateCampaignViewModel.Campaign.AmountNeeded" class="text-danger"></span>
        </div>
    </div>
    @* Data zakończenia zbiórki *@
    <div class="form-group">
        <label asp-for="CreateCampaignViewModel.Campaign.CampaignEndDate" class="control-label h4"></label>
        <input asp-for="CreateCampaignViewModel.Campaign.CampaignEndDate" class="form-control"/>
        <span asp-validation-for="CreateCampaignViewModel.Campaign.CampaignEndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Utwórz zbiórkę" class="btn btn-primary"/>
    </div>
</form>

<form id="summernote"></form>


<script>
$('#summernoteDescription').summernote({
  toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['insert', ['picture', 'video']]
  ],
  height: 400
});
//Hide right summernote bar
$('.note-statusbar').hide();

//Display image on page as a preview
imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    imgPreview.src = URL.createObjectURL(file)
  }
}
</script>

<!--Alert before leave page-->
<script>
  window.onbeforeunload = confirmExit;
  function confirmExit()
  {
    return "You have attempted to leave this page.  If you have made any changes to the fields without clicking the Save button, your changes will be lost.  Are you sure you want to exit this page?";
  }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}