@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
<style>
    /*Zoom image and fill the card*/
    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }
    /*Cut the Campaign description to 3 lines*/
    p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    /*test*/
    .bg-cover {
        background-size: cover !important;
    }
    
 
    
</style>

<div style="background: url(https://localhost:5001/images/background.jpeg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Twoje pomysły mają znaczenie</h1>
        <p class="font-italic">Już teraz utwórz zbiórkę na swój wymarzony projekt</p>
 
        <a asp-page="/Campaign/Create" role="button" class="btn btn-success px-5">Stwórz zbiórkę</a>
    </div>
</div>


<!-- Cards -->
<div class="row row-cols-2 row-cols-md-4 mt-lg-5">
    @foreach(var x in Model.Campaigns)
    {
        <div class="col mb-4">
                <div class="card h-100">
                    <a asp-page="Campaign/Details" asp-route-id="@x.Id" class="stretched-link"></a>
                    <img src="@x.Media.ImagePath" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><strong>@x.CampaignName</strong></h5>
                        <p class="card-text">@x.Description</p>
                    </div>
                </div>
        </div>
    }
</div>

@* @if (User.IsInRole("Administrator")) *@
@* { *@
@*     <span>Admin</span> *@
@* } *@