@page
@using Microsoft.AspNetCore.Identity
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    /*Zoom image and fill the card*/
    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }
    /*Cut the Campaign description to 3 lines*/
    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

</style>

<!-- Cards -->
<div class="row row-cols-1 row-cols-md-4">
    @foreach(var x in Model.Campaigns)
    {
        <div class="col mb-4">
            <div class="col mb-4">
                <div class="card">
                    <a asp-page="Campaign/Details" asp-route-id="@x.Id" class="stretched-link"></a>
                    <img src="@x.Media.ImagePath" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@x.CampaignName</h5>
                        <p class="card-text">@x.Description</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>