@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="summernote"></div>
<script>
      $('#summernote').summernote({
        tabsize: 2,
        height: 100
      });
</script>