@page
@model Tidea.Web.Pages.Order.CreateOrder

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <button type="submit">test</button>
    </form>
</div>
</body>
</html>