@page
@model Tidea.Web.Pages.Order.CreateOrder

@{
    Layout = null;
}

    <form method="post">
        <button type="submit">test</button>
    </form>

@* @if (Model.response!=null) *@
@* { *@
@*     @Html.Raw(Model.response.Content) *@
@* } *@