@page
@model Tidea.Web.Pages.Order.ThanksForPayment

@{
}
<meta http-equiv="refresh" content="5;url=https://localhost:5001/" />
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Dziękuje za dokonanie transakcji!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h1 class="display-1 text-success"><i class="fa-solid fa-check"></i></h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            Za chwilę zostaniesz przekierowany z powrotem na stronę główną...
        </div>
    </div>    
    <div class="row mt-2">
        <div class="col text-center">
           <div class="spinner-border" role="status">
             <span class="sr-only">Loading...</span>
           </div>
        </div>
    </div>
</div>